# Ignore all files except git related
.idea
.vs
.vsconfig
UE_CppTest.sln
UE_CppTest.uproject

# Ignore all folders except some under /Content/, and except /Source/
/Binaries/
/Config/
/Content/*
!/Content/Core/
!/Content/Input/
!/Content/Maps/
/DerivedDataCache/
/Intermediate/
/Saved/